.navbar-title {
  font-size: 38px;
  font-weight: bold;
}

li {
    background-color: lightgrey;
    padding: 6px;
    list-style-type: none;
}

.active {
    background-color: #BDABD1;
}

.nav-list {
  padding: 0 15%;
}

.nav-item {
  font-size: 34px;
  margin: 0.5rem;
  padding: 0.5rem;
}
